<main class="chat">
  <section class="chat-left">
    <div>
      <div class="chat-head">
        <div class="chat-head__profile">
          {{{ Link
              pathname='/settings'
              title="Профиль >"
          }}}
        </div>
        <div class="chat-head__search">
          <input type="text" placeholder="Поиск">
        </div>
      </div>
      <div class="chat-content">
        {{{ ChatList }}}
      </div>
    </div>
    {{{ AddChatModal isVisible=isVisible onCancel=onHandleModal }}}
    {{{ AddUserChat isVisible=isVisibleAddUser onCancel=onHandleModalAddUser }}}
    {{{ RemoveUserChat isVisible=isVisibleRemoveUser onCancel=onHandleModalRemoveUser }}}

    <div class="chat-footer">
      {{{ Button label="Создать чат" onClick=onHandleModal }}}
    </div>
  </section>
  <section class="chat-right">
    <div>
      {{{
        ChatOnline
          onHandleModalAddUser=onHandleModalAddUser
          onHandleModalRemoveUser=onHandleModalRemoveUser
          onHandleRemoveChat=onHandleRemoveChat
      }}}
    </div>
  </section>
</main>

