<main class="profile">
  <section class="profile-back">
    {{{ Back href="/" }}}
  </section>
  <section class="profile-content">
    <div class="profile-container">
      {{{ Avatar onClick=onHandleModal }}}

      <div class="profile-fullname">
        {{ firstName }} {{ secondName }}
      </div>

      <div class="profile-fields">
        {{#each fields}}
          <div class="profile-fields__field">
            <label class="profile-fields__field-label">{{ this.title }}</label>
            <input
              class="profile-fields__field-input"
              value="{{ this.value }}"
              name="{{this.name }}"
              type="{{ this.type }}"
              disabled
            >
          </div>
        {{/each}}
      </div>

      <div class="profile-controls">
        {{{ Link
              pathname='/settings/edit'
              title="Изменить данные"
              classes="profile-controls__item"
        }}}
        {{{ Link
              pathname='/settings/edit/passwords'
              title="Изменить пароль"
              classes="profile-controls__item"
        }}}
        {{{ Button label="Выйти" classes="profile-controls__item profile-controls__item-red" onClick=onLogout }}}
      </div>
    </div>
    {{{ AvatarModal isVisible=isVisible onCancel=onHandleModal }}}
  </section>
</main>
