<main class="profile">
  <section class="profile-back">
    {{>back href="/pages/profile.html"}}
  </section>
  <section class="profile-content">
    <div class="profile-container">
      <div class="profile-avatar">
        {{{ avatarSVG }}}
      </div>

      <form class="profile-form">
        <div class="profile-fields">
          {{#each passwordsField}}
            <div class="profile-fields__field">
              <label class="profile-fields__field-label">{{ this.title }}</label>
              <input
                class="profile-fields__field-input"
                value="{{ this.value }}"
                name="{{this.name }}"
                type="{{ this.type }}"
              >
            </div>
          {{/each}}
        </div>

        <div class="profile-controls">
          {{>button label="Cохранить"}}
        </div>
      </form>
    </div>
  </section>
</main>

<link rel="stylesheet" href="/partials/profileContent.scss">
